.contenedor {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: minmax(30px, 300px) 200px minmax(60px, 250px);
    grid-auto-flow: column;
}

.item {
    font-size: 2rem;
    border: 5px solid #00bcd4;
}

/*.item-1 {
    border: 5px solid #f8bbd0;
    background-color: #ffeeff;
    grid-area: first;
}

.item-2 {
    border: 5px solid #e1bee7;
    background-color: #fff1ff;
    grid-area: second;
}

.item-3 {
    border: 5px solid #b2ebf2;
    background-color: #e5ffff;  
    grid-area: third;
}

.item-4 {
    border: 5px solid yellow;
    background-color: #e5ffff;
    grid-area: fourth;  
}

.item-5 {
    border: 5px solid green;
    background-color: #e5ffff;  
    grid-area: fifth;
}

.item-6 {
    border: 5px solid blue;
    background-color: #e5ffff;  
    grid-area: sixth;
}

.item-7 {
    border: 5px solid red;
    background-color: #e5ffff;  
    grid-area: seventh;
}*/
